/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #007bff;
    color: white;
}

/* style for serach bar */

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 10px;
    background-color: #ffffff;
}

.search-container input {
    padding: 8px;
    width: 450px;
    height: 45px;;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-container button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-container a {
    text-decoration: none;
    font-size: 20px;
    padding: 8px;
}

.address {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

.navbar {
    background-color: #007bff;
    padding: 10px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

.phone-category {
    padding: 20px;
}

.mi-items, .realme-ites, .oppo-items, .vivo-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust spacing between items */
}

.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    width: calc(25% - 20px); /* 25% width minus margin for four items per row */
    box-sizing: border-box; /* Include padding and border in the element's total width */
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.product-card h3 {
    font-size: 1.1em;
    margin: 10px 0;
}

.product-card p {
    margin: 5px 0;
}

.add-to-cart {
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #218838;
}

